tr:only-child {
    background-color: blue;
    color: white;
}
tbody>tr:nth-child(2n+1)>td:not(:first-child) {
    background-color: white; 
}
tbody>tr:nth-child(2n)>td:not(:first-child) {
    background-color: rgb(172, 172, 172); 
}
tbody>tr:nth-child(2n+1)>td:first-child {
    background-color: green; 
    color: white;
}
tbody>tr:nth-child(2n)>td:first-child {
    background-color: rgba(66, 223, 66, 0.74); 
    color: white;
}
table {
    text-align: center;
}
button {
    background-color: blue;
    color: white;
}
table {
    margin: 0 auto;
    margin-top: 20vh;
    width: 70vw;
    height: 40vh;
    border-collapse: collapse;
}
td {
    height: 5vh;
}
body {
    background-color: azure;
}